# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# IDE
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Spring Boot
*.log
*.pid

# Uploaded files
public/uploads/*
!public/uploads/.gitkeep
application-local.yml
